version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: cap-edu-db-prod
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: cap-edu-redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: app
    container_name: cap-edu-backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  notifier:
    build:
      context: .
      dockerfile: Dockerfile
      target: notifier
    container_name: cap-edu-notifier
    restart: always
    env_file:
      - .env
    depends_on:
      - redis

volumes:
  postgres_data: