version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: cap-edu-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    container_name: cap-edu-adminer
    restart: unless-stopped
    ports:
      - "8081:8080"

volumes:
  postgres_data:
