version: "3.9"

services:
  db:
    image: postgres:15-alpine 
    container_name: cap-edu-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    container_name: cap-edu-adminer
    restart: unless-stopped
    ports:
      - "8081:8080" 

  app:
    build: 
      context: . 
      dockerfile: Dockerfile
    container_name: lms-backend-dev
    ports:
      - "8080:8080" 
    env_file:
      - .env
    volumes:
      - .:/app 
      - go_cache:/go/pkg/mod
    depends_on:
      - db
  
    entrypoint: [ "sleep", "infinity" ]


volumes:
  postgres_data:
  go_cache: 