{
    "swagger": "2.0",
    "info": {
        "description": "API для LMS платформы Cap Education.",
        "title": "Cap Education LMS - API",
        "contact": {},
        "version": "1.0"
    },
    "host": "capapi.grtsq.ru",
    "basePath": "/",
    "paths": {
        "/admin/courses": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Список всех курсов",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.Course"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Создание нового курса",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Название курса",
                        "name": "title",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Описание курса",
                        "name": "description",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Флаг основного курса (true/false)",
                        "name": "is_main",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "Изображение обложки курса",
                        "name": "image_file",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/courses/bulk": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Создание курса со всей структурой (Модули + Уроки)",
                "parameters": [
                    {
                        "description": "Структура курса",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_content_admin_usecase.CreateBulkCourseInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/courses/{id}/enroll/{user_id}": {
            "delete": {
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Удалить ученика с курса",
                "responses": {}
            }
        },
        "/admin/courses/{id}/settings": {
            "put": {
                "description": "Редактирование параметров курса (ДЗ, Тесты, Discord) и загрузка новой обложки.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Обновление настроек курса",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID курса",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Название курса",
                        "name": "title",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Описание курса",
                        "name": "description",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Основной курс",
                        "name": "is_main",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Статус (draft, active, archived)",
                        "name": "status",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Включить домашние задания",
                        "name": "has_homework",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "ДЗ обязательно для прохода дальше",
                        "name": "is_homework_mandatory",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Тесты обязательны",
                        "name": "is_test_mandatory",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Проекты обязательны",
                        "name": "is_project_mandatory",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Discord обязателен",
                        "name": "is_discord_mandatory",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "description": "Защита от копирования",
                        "name": "is_anti_copy_enabled",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "Новая обложка курса",
                        "name": "cover_image",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "status: updated",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/courses/{id}/stats": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Stats"
                ],
                "summary": "ADMIN: Статистика курса",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID курса",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.AdminCourseStats"
                        }
                    }
                }
            }
        },
        "/admin/courses/{id}/structure": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Содержание курса (Дерево)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID курса",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.CourseStructure"
                        }
                    }
                }
            }
        },
        "/admin/courses/{id}/students": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Ученики конкретного курса",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID курса",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.AdminStudentProgress"
                            }
                        }
                    }
                }
            }
        },
        "/admin/curators/detailed": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Список кураторов (Таблица)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.CuratorTableItem"
                            }
                        }
                    }
                }
            }
        },
        "/admin/dashboard/stats": {
            "get": {
                "description": "Возвращает агрегированные данные для админ-панели (счетчики, графики, успеваемость).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Stats"
                ],
                "summary": "ADMIN: Статистика главной страницы",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.AdminHomeDashboard"
                        }
                    }
                }
            }
        },
        "/admin/enroll": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Запись на курс",
                "parameters": [
                    {
                        "description": "UserID и CourseID",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.EnrollRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/groups": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Staff"
                ],
                "summary": "ADMIN: Список групп потока",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID потока (опционально)",
                        "name": "stream_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.Group"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Staff"
                ],
                "summary": "ADMIN: Создать группу",
                "parameters": [
                    {
                        "description": "Данные группы",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.CreateGroupRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/lessons": {
            "post": {
                "description": "Создание урока. Можно слать JSON (для блочного контента) или multipart/form-data (для старой загрузки файлов).",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Добавление урока",
                "parameters": [
                    {
                        "description": "Данные урока (JSON)",
                        "name": "request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.CreateLessonRequest"
                        }
                    },
                    {
                        "type": "file",
                        "description": "Видео файл (только для multipart)",
                        "name": "video_file",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "Презентация (только для multipart)",
                        "name": "presentation_file",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/lessons/bulk": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Массовое создание уроков",
                "parameters": [
                    {
                        "description": "Массив уроков",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_content_admin_usecase.CreateLessonInput"
                            }
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/admin/lessons/{id}": {
            "delete": {
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Удаление урока",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Lesson ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/media/upload": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Загрузка медиа-файла",
                "parameters": [
                    {
                        "type": "file",
                        "description": "Файл для загрузки",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "url",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/moderators/detailed": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Список модераторов (Таблица)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.ModeratorTableItem"
                            }
                        }
                    }
                }
            }
        },
        "/admin/modules": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Создание модуля",
                "parameters": [
                    {
                        "description": "Данные модуля",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.CreateModuleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/modules/bulk": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Массовое создание модулей",
                "parameters": [
                    {
                        "description": "Массив модулей",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_content_admin_usecase.CreateModuleInput"
                            }
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/admin/modules/{id}": {
            "delete": {
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Удаление модуля",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Module ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/projects": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Добавление проекта",
                "parameters": [
                    {
                        "description": "Данные проекта",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.CreateProjectRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/projects/{id}": {
            "delete": {
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Удаление проекта",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/streams": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Staff"
                ],
                "summary": "ADMIN: Список потоков курса",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID курса (опционально)",
                        "name": "course_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.Stream"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Staff"
                ],
                "summary": "ADMIN: Создать поток",
                "parameters": [
                    {
                        "description": "Данные потока",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.CreateStreamRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/students/detailed": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Детальный список учеников (Таблица)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Фильтр по курсу",
                        "name": "course_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.StudentTableItem"
                            }
                        }
                    }
                }
            }
        },
        "/admin/teachers/detailed": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Список учителей (Таблица)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.TeacherTableItem"
                            }
                        }
                    }
                }
            }
        },
        "/admin/tests": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Добавление теста",
                "parameters": [
                    {
                        "description": "Данные теста",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.CreateTestRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/tests/{id}": {
            "delete": {
                "tags": [
                    "Admin-Content"
                ],
                "summary": "ADMIN: Удаление теста",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Test ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/users": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Список пользователей (по ролям)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Фильтр: student, teacher, curator, moderator, admin",
                        "name": "role",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.User"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Регистрация сотрудника или ученика. Поддерживает несколько родителей и привязку к курсу/группе.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Создание пользователя (Полный профиль + Родители)",
                "parameters": [
                    {
                        "description": "Данные пользователя",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_content_admin_delivery_http.CreateFullUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "result mapping",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/users/all": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Показать всех пользователей (Таблица)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.AllUsersTableItem"
                            }
                        }
                    }
                }
            }
        },
        "/admin/users/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Информация о конкретном пользователе (Карточка)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UserID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            },
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Изменить данные пользователя",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UserID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "delete": {
                "tags": [
                    "Admin-Users"
                ],
                "summary": "ADMIN: Удалить пользователя",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UserID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "description": "Ввод email и пароля, возвращает HTTP-Only Cookie.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Аутентификация"
                ],
                "summary": "Вход в систему",
                "parameters": [
                    {
                        "description": "Данные для входа",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_auth_delivery_http.LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "message: Login successful, user: {...}",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "error: Неправильный логин/пароль",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "description": "Удаляет HTTP-Only Cookie.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Аутентификация"
                ],
                "summary": "Выход из системы",
                "responses": {
                    "200": {
                        "description": "message: Logged out successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "description": "Данный функционал отключен, пользователи создаются только Администратором.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Аутентификация"
                ],
                "summary": "Регистрация (ЗАБЛОКИРОВАНО)",
                "responses": {
                    "403": {
                        "description": "error: Public registration is disabled.",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/chat/history": {
            "get": {
                "description": "Получить список сообщений чата модуля.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Chat"
                ],
                "summary": "USER: История чата",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID модуля",
                        "name": "module_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID ученика (для персонала)",
                        "name": "student_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Количество",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Смещение",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.ChatMessage"
                            }
                        }
                    }
                }
            }
        },
        "/chat/ws": {
            "get": {
                "description": "WebSocket соединение для обмена сообщениями.",
                "tags": [
                    "Chat"
                ],
                "summary": "WS: Подключение к чату модуля",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID модуля",
                        "name": "module_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID ученика (для персонала)",
                        "name": "student_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/courses/{id}": {
            "get": {
                "description": "Получить полную структуру курса (модули, уроки) с отметками о прохождении.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Страница курса",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID курса",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.StudentCourseView"
                        }
                    }
                }
            }
        },
        "/dashboard/home": {
            "get": {
                "description": "Возвращает данные для дашборда ученика или родителя.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dashboard"
                ],
                "summary": "УЧЕНИК: Главная страница",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.HomeDashboard"
                        }
                    }
                }
            }
        },
        "/lessons/{id}": {
            "get": {
                "description": "Получить контент конкретного урока (видео, текст).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Просмотр урока",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID урока",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.StudentLessonDetail"
                        }
                    }
                }
            }
        },
        "/lessons/{id}/assignment": {
            "post": {
                "description": "Отправка текстового ответа или файла.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Сдать домашнее задание",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID урока",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Текст ответа",
                        "name": "text_answer",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "Файл с заданием",
                        "name": "file",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/lessons/{id}/complete": {
            "post": {
                "description": "Отметить урок как пройденный (для уроков без обязательного ДЗ).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Завершить урок (без ДЗ)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID урока",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/my-courses": {
            "get": {
                "description": "Получить список курсов, на которые записан текущий пользователь.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Мои курсы",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.StudentCoursePreview"
                            }
                        }
                    }
                }
            }
        },
        "/profile": {
            "get": {
                "description": "Получить данные текущего авторизованного пользователя.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Profile"
                ],
                "summary": "USER: Мой профиль",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.User"
                        }
                    }
                }
            },
            "put": {
                "description": "Изменение личных данных и загрузка аватара.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Profile"
                ],
                "summary": "USER: Обновить профиль",
                "parameters": [
                    {
                        "type": "file",
                        "description": "Фото профиля",
                        "name": "avatar",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Имя",
                        "name": "first_name",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Фамилия",
                        "name": "last_name",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Телефон",
                        "name": "phone",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Населенный пункт",
                        "name": "city",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Родной язык",
                        "name": "language",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Учебное заведение",
                        "name": "school_name",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "WhatsApp ссылка",
                        "name": "whatsapp",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "Telegram ссылка",
                        "name": "telegram",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "status",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/schedule/monthly": {
            "get": {
                "description": "Возвращает список занятий для календарной сетки месяца.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Schedule"
                ],
                "summary": "USER: Расписание на месяц",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Год",
                        "name": "year",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Месяц",
                        "name": "month",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.MonthlySchedule"
                        }
                    }
                }
            }
        },
        "/schedule/weekly": {
            "get": {
                "description": "Возвращает уроки, сгруппированные по дням недели.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Schedule"
                ],
                "summary": "USER: Расписание на неделю",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Дата недели (YYYY-MM-DD), по умолчанию сегодня",
                        "name": "date",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.WeeklySchedule"
                        }
                    }
                }
            }
        },
        "/staff/submissions": {
            "get": {
                "description": "Получить список всех работ со статусом pending_check.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Staff-Review"
                ],
                "summary": "STAFF: Список ДЗ на проверку",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.SubmissionRecord"
                            }
                        }
                    }
                }
            }
        },
        "/staff/submissions/{id}/evaluate": {
            "post": {
                "description": "Выставить оценку, статус и комментарий к работе ученика.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Staff-Review"
                ],
                "summary": "STAFF: Проверить ДЗ",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID задания",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Результат проверки",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_review_delivery_http.EvaluateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/teachers": {
            "get": {
                "description": "Получить список преподавателей с их рейтингом.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Список преподавателей",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/lms_backend_internal_domain.TeacherPublicInfo"
                            }
                        }
                    }
                }
            }
        },
        "/teachers/{id}": {
            "get": {
                "description": "Получить полную инфо о преподавателе и его отзывы.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Детали преподавателя",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID преподавателя",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/lms_backend_internal_domain.TeacherPublicInfo"
                        }
                    }
                }
            }
        },
        "/teachers/{id}/reviews": {
            "post": {
                "description": "Добавить оценку и текстовый отзыв.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Student-Learning"
                ],
                "summary": "УЧЕНИК: Оставить отзыв преподавателю",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID преподавателя",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Данные отзыва",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_learning_delivery_http.ReviewRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        }
    },
    "definitions": {
        "internal_auth_delivery_http.LoginRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "admin@capedu.kz"
                },
                "password": {
                    "type": "string",
                    "example": "capedu123"
                }
            }
        },
        "internal_content_admin_delivery_http.CreateFullUserRequest": {
            "type": "object",
            "properties": {
                "birth_date": {
                    "type": "string",
                    "example": "20.01.2000"
                },
                "city": {
                    "type": "string",
                    "example": "Алматы"
                },
                "course_id": {
                    "type": "string"
                },
                "email": {
                    "type": "string",
                    "example": "student@test.kz"
                },
                "experience_years": {
                    "type": "integer",
                    "example": 5
                },
                "full_name": {
                    "type": "string",
                    "example": "Иван Иванов"
                },
                "gender": {
                    "type": "string",
                    "example": "male"
                },
                "group_id": {
                    "type": "string"
                },
                "language": {
                    "type": "string",
                    "example": "ru"
                },
                "parents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_content_admin_usecase.ParentInfo"
                    }
                },
                "password": {
                    "type": "string",
                    "example": "secret123"
                },
                "phone": {
                    "type": "string",
                    "example": "+79998887766"
                },
                "role": {
                    "allOf": [
                        {
                            "$ref": "#/definitions/lms_backend_internal_domain.Role"
                        }
                    ],
                    "example": "student"
                },
                "school_name": {
                    "type": "string",
                    "example": "Школа №123"
                },
                "stream_id": {
                    "type": "string"
                },
                "telegram": {
                    "type": "string",
                    "example": "https://t.me/..."
                },
                "whatsapp": {
                    "type": "string",
                    "example": "https://wa.me/..."
                }
            }
        },
        "internal_content_admin_delivery_http.CreateGroupRequest": {
            "type": "object",
            "properties": {
                "curator_id": {
                    "type": "string",
                    "example": "u4444444-4444-4444-4444-444444444444"
                },
                "stream_id": {
                    "type": "string",
                    "example": "s3333333-3333-3333-3333-333333333333"
                },
                "teacher_id": {
                    "type": "string",
                    "example": "u5555555-5555-5555-5555-555555555555"
                },
                "title": {
                    "type": "string",
                    "example": "Группа А-1"
                }
            }
        },
        "internal_content_admin_delivery_http.CreateLessonRequest": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.ContentBlock"
                    }
                },
                "content_text": {
                    "type": "string"
                },
                "course_id": {
                    "type": "string",
                    "example": "uuid"
                },
                "module_id": {
                    "type": "string",
                    "example": "uuid"
                },
                "order_num": {
                    "type": "integer",
                    "example": 1
                },
                "teacher_id": {
                    "type": "string",
                    "example": "uuid"
                },
                "title": {
                    "type": "string",
                    "example": "Название урока"
                }
            }
        },
        "internal_content_admin_delivery_http.CreateModuleRequest": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string",
                    "example": "c1111111-1111-1111-1111-111111111111"
                },
                "description": {
                    "type": "string",
                    "example": "Типы данных, переменные, циклы"
                },
                "order_num": {
                    "type": "integer",
                    "example": 1
                },
                "title": {
                    "type": "string",
                    "example": "Основы синтаксиса"
                }
            }
        },
        "internal_content_admin_delivery_http.CreateProjectRequest": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string",
                    "example": "uuid"
                },
                "description": {
                    "type": "string",
                    "example": "Разработка API на Go"
                },
                "lesson_id": {
                    "type": "string",
                    "example": "l2222222-2222-2222-2222-222222222222"
                },
                "lesson_number": {
                    "type": "integer",
                    "example": 1
                },
                "max_score": {
                    "type": "integer",
                    "example": 100
                },
                "title": {
                    "type": "string",
                    "example": "Финальный проект"
                }
            }
        },
        "internal_content_admin_delivery_http.CreateStreamRequest": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string",
                    "example": "c1111111-1111-1111-1111-111111111111"
                },
                "start_date": {
                    "type": "string",
                    "example": "2024-09-01"
                },
                "title": {
                    "type": "string",
                    "example": "Поток Сентябрь 2024"
                }
            }
        },
        "internal_content_admin_delivery_http.CreateTestRequest": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "lesson_id": {
                    "type": "string"
                },
                "lesson_number": {
                    "type": "integer"
                },
                "passing_score": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "internal_content_admin_delivery_http.EnrollRequest": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string",
                    "example": "c1111111-1111-1111-1111-111111111111"
                },
                "user_id": {
                    "type": "string",
                    "example": "a0000000-0000-0000-0000-000000000001"
                }
            }
        },
        "internal_learning_delivery_http.ReviewRequest": {
            "type": "object",
            "properties": {
                "comment": {
                    "type": "string"
                },
                "rating": {
                    "type": "integer"
                }
            }
        },
        "internal_review_delivery_http.EvaluateRequest": {
            "type": "object",
            "properties": {
                "comment": {
                    "type": "string"
                },
                "grade": {
                    "type": "integer"
                },
                "is_accepted": {
                    "type": "boolean"
                }
            }
        },
        "lms_backend_internal_content_admin_usecase.CreateBulkCourseInput": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "imageURL": {
                    "type": "string"
                },
                "isMain": {
                    "type": "boolean"
                },
                "modules": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_content_admin_usecase.ModuleBulkInput"
                    }
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_content_admin_usecase.CreateLessonInput": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.ContentBlock"
                    }
                },
                "contentText": {
                    "type": "string"
                },
                "courseID": {
                    "type": "string"
                },
                "moduleID": {
                    "type": "string"
                },
                "orderNum": {
                    "type": "integer"
                },
                "presentationFile": {
                    "$ref": "#/definitions/multipart.FileHeader"
                },
                "teacherID": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "videoFile": {
                    "$ref": "#/definitions/multipart.FileHeader"
                }
            }
        },
        "lms_backend_internal_content_admin_usecase.CreateModuleInput": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "lesson_ids": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "order_num": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_content_admin_usecase.LessonBulkInput": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.ContentBlock"
                    }
                },
                "contentText": {
                    "type": "string"
                },
                "orderNum": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "videoURL": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_content_admin_usecase.ModuleBulkInput": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "lessons": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_content_admin_usecase.LessonBulkInput"
                    }
                },
                "orderNum": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_content_admin_usecase.ParentInfo": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "parent@test.kz"
                },
                "full_name": {
                    "type": "string",
                    "example": "Иван Петров"
                },
                "phone": {
                    "type": "string",
                    "example": "+77001112233"
                }
            }
        },
        "lms_backend_internal_domain.AdminCourseStats": {
            "type": "object",
            "properties": {
                "average_lag_lessons": {
                    "type": "number"
                },
                "average_score": {
                    "type": "number"
                },
                "average_watch_time_minutes": {
                    "type": "number"
                },
                "frozen_students": {
                    "type": "integer"
                },
                "graduated_students": {
                    "type": "integer"
                },
                "new_students_month": {
                    "type": "integer"
                },
                "success_rate_breakdown": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "integer"
                    }
                },
                "total_students": {
                    "type": "integer"
                }
            }
        },
        "lms_backend_internal_domain.AdminHomeDashboard": {
            "type": "object",
            "properties": {
                "active_courses": {
                    "type": "integer"
                },
                "lesson_activity": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.DailyLessonActivity"
                    }
                },
                "new_students_delta_percent": {
                    "type": "number"
                },
                "new_students_month": {
                    "type": "integer"
                },
                "performance_zones": {
                    "$ref": "#/definitions/lms_backend_internal_domain.PerformanceZones"
                },
                "students_delta_percent": {
                    "type": "number"
                },
                "total_students": {
                    "type": "integer"
                },
                "total_teachers": {
                    "type": "integer"
                },
                "update_period_month": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.AdminStudentProgress": {
            "type": "object",
            "properties": {
                "full_name": {
                    "type": "string"
                },
                "homeworks_done": {
                    "type": "integer"
                },
                "lessons_attended": {
                    "type": "integer"
                },
                "photo_url": {
                    "type": "string"
                },
                "progress_percent": {
                    "type": "integer"
                },
                "start_date": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.AllUsersTableItem": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "photo": {
                    "type": "string"
                },
                "role": {
                    "$ref": "#/definitions/lms_backend_internal_domain.Role"
                }
            }
        },
        "lms_backend_internal_domain.ChatMessage": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "file_url": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_read": {
                    "type": "boolean"
                },
                "message_text": {
                    "type": "string"
                },
                "module_id": {
                    "type": "string"
                },
                "sender_id": {
                    "type": "string"
                },
                "sender_name": {
                    "type": "string"
                },
                "sender_role": {
                    "$ref": "#/definitions/lms_backend_internal_domain.Role"
                },
                "student_id": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.ContentBlock": {
            "type": "object",
            "properties": {
                "content": {},
                "type": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.Course": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "has_homework": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "image_url": {
                    "type": "string"
                },
                "is_anti_copy_enabled": {
                    "type": "boolean"
                },
                "is_discord_mandatory": {
                    "type": "boolean"
                },
                "is_homework_mandatory": {
                    "type": "boolean"
                },
                "is_main": {
                    "type": "boolean"
                },
                "is_project_mandatory": {
                    "type": "boolean"
                },
                "is_test_mandatory": {
                    "type": "boolean"
                },
                "status": {
                    "$ref": "#/definitions/lms_backend_internal_domain.CourseStatus"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.CourseStatus": {
            "type": "string",
            "enum": [
                "draft",
                "active",
                "archived"
            ],
            "x-enum-varnames": [
                "CourseStatusDraft",
                "CourseStatusActive",
                "CourseStatusArchived"
            ]
        },
        "lms_backend_internal_domain.CourseStructure": {
            "type": "object",
            "properties": {
                "course": {
                    "$ref": "#/definitions/lms_backend_internal_domain.Course"
                },
                "modules": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.ModuleStructure"
                    }
                },
                "root_lessons": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.Lesson"
                    }
                },
                "root_projects": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.Project"
                    }
                },
                "root_tests": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.Test"
                    }
                }
            }
        },
        "lms_backend_internal_domain.CuratorTableItem": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "groups": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.DailyLessonActivity": {
            "type": "object",
            "properties": {
                "date": {
                    "type": "string"
                },
                "group": {
                    "type": "integer"
                },
                "individual": {
                    "type": "integer"
                },
                "trial": {
                    "type": "integer"
                }
            }
        },
        "lms_backend_internal_domain.Group": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "curator_id": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "stream_id": {
                    "type": "string"
                },
                "teacher_id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.HomeDashboard": {
            "type": "object",
            "properties": {
                "active_courses_count": {
                    "type": "integer"
                },
                "assignment_stats": {
                    "$ref": "#/definitions/lms_backend_internal_domain.StatisticSummary"
                },
                "attendance_stats": {
                    "$ref": "#/definitions/lms_backend_internal_domain.StatisticSummary"
                },
                "last_lesson": {
                    "$ref": "#/definitions/lms_backend_internal_domain.LastLesson"
                },
                "role": {
                    "$ref": "#/definitions/lms_backend_internal_domain.Role"
                },
                "upcoming_lessons": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.UpcomingLesson"
                    }
                },
                "user_data": {
                    "$ref": "#/definitions/lms_backend_internal_domain.User"
                }
            }
        },
        "lms_backend_internal_domain.LastLesson": {
            "type": "object",
            "properties": {
                "assignment_status": {
                    "type": "string"
                },
                "course_title": {
                    "type": "string"
                },
                "homework_id": {
                    "type": "string"
                },
                "lesson_id": {
                    "type": "string"
                },
                "lesson_title": {
                    "type": "string"
                },
                "module_name": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.Lesson": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.ContentBlock"
                    }
                },
                "content_text": {
                    "type": "string"
                },
                "course_id": {
                    "type": "string"
                },
                "duration_min": {
                    "type": "integer"
                },
                "has_homework": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "is_interactive": {
                    "type": "boolean"
                },
                "is_published": {
                    "type": "boolean"
                },
                "lesson_time": {
                    "type": "string"
                },
                "module_id": {
                    "type": "string"
                },
                "order_num": {
                    "type": "integer"
                },
                "presentation_url": {
                    "type": "string"
                },
                "projects": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.Project"
                    }
                },
                "teacher_id": {
                    "type": "string"
                },
                "tests": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.Test"
                    }
                },
                "title": {
                    "type": "string"
                },
                "video_url": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.LessonMaterial": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "lesson_id": {
                    "type": "string"
                },
                "public_url": {
                    "type": "string"
                },
                "s3_path": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.ModeratorTableItem": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.Module": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "order_num": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.ModuleStructure": {
            "type": "object",
            "properties": {
                "lessons": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.Lesson"
                    }
                },
                "module": {
                    "$ref": "#/definitions/lms_backend_internal_domain.Module"
                }
            }
        },
        "lms_backend_internal_domain.MonthlySchedule": {
            "type": "object",
            "properties": {
                "days": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "array",
                        "items": {
                            "$ref": "#/definitions/lms_backend_internal_domain.ScheduleLesson"
                        }
                    }
                },
                "month": {
                    "type": "integer"
                },
                "year": {
                    "type": "integer"
                }
            }
        },
        "lms_backend_internal_domain.PerformanceZones": {
            "type": "object",
            "properties": {
                "green_count": {
                    "type": "integer"
                },
                "green_percent": {
                    "type": "number"
                },
                "red_count": {
                    "type": "integer"
                },
                "red_percent": {
                    "type": "number"
                },
                "total_rated": {
                    "type": "integer"
                },
                "yellow_count": {
                    "type": "integer"
                },
                "yellow_percent": {
                    "type": "number"
                }
            }
        },
        "lms_backend_internal_domain.Project": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "lesson_id": {
                    "type": "string"
                },
                "max_score": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.Role": {
            "type": "string",
            "enum": [
                "student",
                "parent",
                "teacher",
                "moderator",
                "curator",
                "admin"
            ],
            "x-enum-varnames": [
                "RoleStudent",
                "RoleParent",
                "RoleTeacher",
                "RoleModerator",
                "RoleCurator",
                "RoleAdmin"
            ]
        },
        "lms_backend_internal_domain.ScheduleLesson": {
            "type": "object",
            "properties": {
                "color": {
                    "type": "string"
                },
                "course_name": {
                    "type": "string"
                },
                "discord_url": {
                    "type": "string"
                },
                "duration_min": {
                    "type": "integer"
                },
                "end_time": {
                    "type": "string"
                },
                "homework_status": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                },
                "teacher_comment": {
                    "type": "string"
                },
                "teacher_email": {
                    "type": "string"
                },
                "teacher_name": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.StatisticSummary": {
            "type": "object",
            "properties": {
                "breakdown": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "integer"
                    }
                },
                "delta_vs_last_month": {
                    "type": "number"
                },
                "percentage": {
                    "type": "number"
                }
            }
        },
        "lms_backend_internal_domain.Stream": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "start_date": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.StudentCoursePreview": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image_url": {
                    "type": "string"
                },
                "is_main": {
                    "type": "boolean"
                },
                "progress_percent": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.StudentCourseView": {
            "type": "object",
            "properties": {
                "course": {
                    "$ref": "#/definitions/lms_backend_internal_domain.Course"
                },
                "modules": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.StudentModuleView"
                    }
                }
            }
        },
        "lms_backend_internal_domain.StudentLessonDetail": {
            "type": "object",
            "properties": {
                "assignment_status": {
                    "type": "string"
                },
                "is_completed": {
                    "type": "boolean"
                },
                "lesson": {
                    "$ref": "#/definitions/lms_backend_internal_domain.Lesson"
                },
                "materials": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.LessonMaterial"
                    }
                },
                "next_lesson_id": {
                    "type": "string"
                },
                "previous_lesson_id": {
                    "type": "string"
                },
                "teacher_comment": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.StudentLessonRef": {
            "type": "object",
            "properties": {
                "duration_min": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "is_completed": {
                    "type": "boolean"
                },
                "is_locked": {
                    "type": "boolean"
                },
                "order_num": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.StudentModuleView": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "lessons": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/lms_backend_internal_domain.StudentLessonRef"
                    }
                },
                "order_num": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "lms_backend_internal_domain.StudentTableItem": {
            "type": "object",
            "properties": {
                "age": {
                    "type": "integer"
                },
                "city": {
                    "type": "string"
                },
                "course": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "curator": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                },
                "group": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "parent_phone": {
                    "type": "string"
                },
                "performance": {
                    "type": "integer"
                },
                "phone": {
                    "type": "string"
                },
                "photo": {
                    "type": "string"
                },
                "school": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "stream": {
                    "type": "string"
                },
                "teacher": {
[...]
