basePath: /
definitions:
  http.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
host: localhost:8000
info:
  contact: {}
  description: API для LMS платформы Cap Education.
  title: Cap Education LMS - API
  version: "1.0"
paths:
  /admin/courses:
    get:
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Список всех курсов'
      tags:
      - Admin-Content
    post:
      consumes:
      - multipart/form-data
      parameters:
      - description: Название курса
        in: formData
        name: title
        required: true
        type: string
      - description: Файл изображения
        in: formData
        name: image_file
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 'ADMIN: Создание нового курса'
      tags:
      - Admin-Content
  /admin/courses/{id}/settings:
    put:
      consumes:
      - multipart/form-data
      parameters:
      - description: ID курса
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 'ADMIN: Обновление настроек курса'
      tags:
      - Admin-Content
  /admin/courses/{id}/stats:
    get:
      parameters:
      - description: ID курса
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Статистика курса'
      tags:
      - Admin-Stats
  /admin/courses/{id}/structure:
    get:
      parameters:
      - description: ID курса
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Содержание курса (Дерево)'
      tags:
      - Admin-Content
  /admin/courses/{id}/students:
    get:
      parameters:
      - description: ID курса
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Список учеников курса'
      tags:
      - Admin-Users
  /admin/enroll:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Запись на курс'
      tags:
      - Admin-Users
  /admin/lessons:
    post:
      consumes:
      - multipart/form-data
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Добавление урока'
      tags:
      - Admin-Content
  /admin/modules:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Создание модуля'
      tags:
      - Admin-Content
  /admin/projects:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Добавление проекта'
      tags:
      - Admin-Content
  /admin/tests:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Добавление теста'
      tags:
      - Admin-Content
  /admin/users:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 'ADMIN: Создание пользователя'
      tags:
      - Admin-Users
  /auth/login:
    post:
      consumes:
      - application/json
      description: Ввод email и пароля, возвращает HTTP-Only Cookie.
      parameters:
      - description: Данные для входа
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/http.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 'message: Login successful, user: {...}'
          schema:
            additionalProperties: true
            type: object
        "401":
          description: 'error: Неправильный логин/пароль'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Вход в систему (Log in student/admin)
      tags:
      - Аутентификация
  /auth/register:
    post:
      description: Данный функционал отключен, пользователи создаются только Администратором.
      produces:
      - application/json
      responses:
        "403":
          description: 'error: Public registration is disabled.'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Регистрация (ЗАБЛОКИРОВАНО)
      tags:
      - Аутентификация
  /dashboard/home:
    get:
      description: Returns the home dashboard for the authenticated user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      summary: Get user home dashboard
      tags:
      - dashboard
swagger: "2.0"
