basePath: /
definitions:
  http.CreateCourseRequest:
    properties:
      description:
        type: string
      is_main:
        description: Основной / Дополнительный
        type: boolean
      title:
        type: string
    type: object
  http.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: API для LMS платформы Cap Education.
  title: Cap Education LMS - API
  version: "1.0"
paths:
  /admin/courses:
    post:
      consumes:
      - application/json
      description: Создает карточку курса, доступно только RoleAdmin
      parameters:
      - description: Данные нового курса
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/http.CreateCourseRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 'message: Course created, id: <UUID>'
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: 'error: Ошибка валидации'
          schema:
            additionalProperties:
              type: string
            type: object
        "403":
          description: 'Forbidden: Недостаточно прав (не RoleAdmin)'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 'ADMIN: Создание нового курса'
      tags:
      - Admin-Content
  /auth/login:
    post:
      consumes:
      - application/json
      description: Ввод email и пароля, возвращает HTTP-Only Cookie.
      parameters:
      - description: Данные для входа
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/http.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 'message: Login successful, user: {...}'
          schema:
            additionalProperties: true
            type: object
        "401":
          description: 'error: Неправильный логин/пароль'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Вход в систему (Log in student/admin)
      tags:
      - Аутентификация
  /auth/register:
    post:
      description: Данный функционал отключен, пользователи создаются только Администратором.
      produces:
      - application/json
      responses:
        "403":
          description: 'error: Public registration is disabled.'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Регистрация (ЗАБЛОКИРОВАНО)
      tags:
      - Аутентификация
  /dashboard/home:
    get:
      description: Returns the home dashboard for the authenticated user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      summary: Get user home dashboard
      tags:
      - dashboard
swagger: "2.0"
